<p id="notice"><%= notice %></p>

<p>
  <b>Type object:</b>
  <%= @build_object.type_object_id %>
</p>


<%= link_to 'Edit', edit_build_object_path(@build_object) %> |
<%= link_to 'Back', build_objects_path %>
